body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

#parallaxContainer{
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

main{
  position: absolute;
  top: 0;
  z-index: -1;
}

#canvasTitle{
    color: #5a5a5a;
    width: 100%;
    height: 20%;
    top: 35%;
    z-index: 2;
    text-align: center;
    font-size: 6.25rem;
    vertical-align: middle;
}

#fade_in{
  background: linear-gradient(to bottom, #000000, #ffffff);
  height: 5rem;
  margin-top: 0;
  border: transparent;
}

.navbar{
  position: absolute;
  top: 0;
  z-index: 0;
}

#canvasInfo{
  color: #5a5a5a;
  width: 100%;
  height: 20%;
  bottom: 25%;
  z-index: 2;
  text-align: center;
  font-size: 3.125rem;
  vertical-align: middle;
}

#marketingContainer1{
  margin-top: 0rem;
  z-index: 1;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
