.navbar{
  position: absolute;
  top: 0;
  width: 100%;
}

.committee{
  width: 28vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  overflow: auto;
  position: relative;
  display: inline;
  margin: auto;
  align-self: center;
  text-align: center;
  height: 25rem;
}

.featurette2{
  margin-right: -12.5%;
}

.featurette2-text{
  margin-left: 1%;
}

.featurette-text{
  margin-right: 10%;
}


/* Hide scroll bars */
main::-webkit-scrollbar{
  display: none;
}

main{
  -ms-overflow-style: none;
  scrollbar-width: none;
}