@import './base.css';

#app {
  width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.red {
  text-decoration: none;
  color: hsla(352.15, 100%, 50%, 60%);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  #logoContainer:hover{
    opacity: 60%;
  }
  a:hover {
    color: hsla(352.15, 100%, 30%, 67%);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
